
// For metabox
.adPosition {
	&__item {
		padding: 10px 0;
		border-top: 1px dotted #ddd;
		&:first-child {
			border-top: none;
			padding-bottom: 0;
		}
	}
	&__info {
		color: #888;
		font-size: 0.85em;
	}
	&__label {
		font-weight: 700;
		display: block;
	}
	&__description {
		font-size: 0.8em;
		color: #888;
	}

}

// Use flex layout if box is move to center.
#postbox-container-2 .adPosition {
	display: flex;
	flex-wrap: wrap;

	&__item {
		padding: 10px;
		box-sizing: border-box;
		flex: 0 1 25%;
		border-top: none;
		border-right: 1px dotted #ddd;
		border-bottom: 1px dotted #ddd;
	}
}

.adContent {
	&-list {
		display: none;
		padding: 10px;
		background: #f9f9f9;
		border: 1px solid #ddd;
		&.toggle {
			display: block;
		}
		dt {
			font-weight: 700;
			margin-top: 10px;
			&:first-child {
				margin-top: 0;
			}
		}
		dd {
			margin: 5px 0;
			padding-left: 20px;
			position: relative;
			&::before {
				content: "-";
				font-weight: 700;
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
}

.adMeta {

	&__editor {
		min-height: 300px;
	}

	&__textarea {
		display: none;
	}


	&__desc {
		color: #888;
	}
}

th.column-display_mode {
	width: 4em;
}

th.column-registered {
	width: 2em;
}

.ad-context {
	&__container {

	}

	&__heading {

	}

	&__item {

	}
}
